* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#parent-container {
  border: 1px solid;
  width: 60%;
  margin: 3rem auto;
  box-shadow: 10px 10px 20px #888888;
}

.header {
  background-color: lightgreen;
  text-align: center;
}

.header h1 {
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.header h4 {
  padding-bottom: 2rem;
}

.header input[type='text'] {
  margin-bottom: 2rem;
  padding: 0.5rem;
  border: 3px solid darkcyan;
  font-size: 14px;
  color:blue;
}

.header input[type='text']:hover{
  border: 3px solid rgb(128, 111, 104);
}

.header input[type='checkbox'] {
  margin-bottom: 2rem;
}

.header label {
  padding-right: 0.8rem;
}

.middle-context {
  text-align: center;
  padding: 1.5rem 1.5rem;
}

.middle-context input[type="text"] {
  padding: 0.5rem 0.5rem;
  width: 60%;
  color: blue;
  font-size: 14px;
}

.middle-context button {
  padding: 0.5rem 1.5rem;
  margin-left: 0.5rem;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.middle-context button:hover {
  background-color: darkgreen;
}

.items-context {
  position: relative;
}

.items-context h3 {
  margin: 1rem 2rem;
}

.items-context .items {
  margin: 1rem 2rem;
}

.items-context .items h4 {
  display: flex;
  border-left: 4px solid lightgrey;
  padding-left: 20px;
  height: 50px;
  align-items: center;
  width: 110%;
}

.items-context .items .one {
  position: absolute;
  right: 20px;
  top: 55px;
  padding: 0.3rem;
  background-color: rgb(222, 63, 63);
  color: white;
  cursor: pointer;
}

.items-context .items .two {
  position: absolute;
  right: 20px;
  top: 118px;
  padding: 0.3rem;
  background-color: rgb(222, 63, 63);
  color: white;
  cursor: pointer;
}

.items-context .items .three {
  position: absolute;
  right: 20px;
  top: 188px;
  padding: 0.3rem;
  background-color: rgb(222, 63, 63);
  color: white;
  cursor: pointer;
}

.items-context .items button:hover {
  background-color: red;
}

.items-context .items h4:hover {
  border-left: 5px solid rgb(237, 95, 95);
}

@media only screen and (max-width: 500px) {
  .middle-context input[type="text"] {
    margin-bottom: 1rem;
    font: size 12px;
    width: 100%;
  }
}
